<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Packer Tracker</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    @using PackerTracker.Models;

    <h1>Packing List</h1>  
    @if (Model.Count == 0)
    {
      <p>There are no items added to your list.</p>
    }
    <ul>
      @foreach (Item item in Model)
      {
        <li><a href="/item/@item.Id">@item.Description<a></li>
      }
    <p><a href="/item/new">Add a new item!</a></p>
    <p><a href="/item/check">Check off packed items!<a></p>
    </ul>
  </body>
</html>