<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Name</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    @using PlacesBeen.Models;

    <h1>Places You've Been</h1>  
    @if (Model.Count == 0)
    {
      <p>There are no destinations added to your list.</p>
    }
    <ul>
      @foreach (Place place in Model)
      {
        <li><a href="/place/@place.Id"><img src="@place.Image" alt="User photo of @place.Location" width="150px"> <br>@place.Location</a></li>
      }
    <p><a href="/place/new">Add a new travel entry!</a></p>
    </ul>
  </body>
</html>