<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Name</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <form action="/place" method="post">
      <label for="location">Add a location</label>
      <input id="location" name="location" type="text">
      <label for="companion">Travel companion</label>
      <input id="companion" name="companion" type="text">
      <label for="dates">Dates traveled</label>
      <input id="dates" name="dates" type="text">
      <label for="journal">Journal</label><br>
      <textarea id="journal" name="journal" type="text"></textarea>
      <label for="image">Image URL</label>
      <input id="image" name="image" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>